name: Run Telegram Bot

on:
  push:
    branches:
      - main  # Change to your default branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.11  # Choose the Python version you need
    - name: Install Python dependencies
      run: pip install requests json base64
    - name: Run Python Script
      run: python Scripts/TelegramBOT.py  # Replace with your script's path
